/movcadcooperado-precadastro/target
/movcadcooperado-admin/target
/movcadcooperado-core/target
/movcadcooperado-ejb/target
/movcadcooperado-web/target
/movcadcooperado-ws/target

/movcadcooperado-precadastro/nppBackup
/movcadcooperado-admin/nppBackup
/movcadcooperado-core/nppBackup
/movcadcooperado-ejb/nppBackup
/movcadcooperado-web/nppBackup
/movcadcooperado-ws/nppBackup

/movcadcooperado-precadastro/bin
/movcadcooperado-admin/bin
/movcadcooperado-core/bin
/movcadcooperado-ejb/bin
/movcadcooperado-web/bin
/movcadcooperado-ws/bin