<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Pré-Cadastrod de Cooperados</display-name>
  <description></description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>south-street</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.SKIN</param-name>
    <param-value>south-street</param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.FONT_AWESOME</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <security-constraint>
    <display-name>Restrict raw XHTML Documents</display-name>
    <web-resource-collection>
      <web-resource-name>XHTML</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
<!--   <security-constraint> -->
<!--     <display-name>Constraint</display-name> -->
<!--     <web-resource-collection> -->
<!--       <web-resource-name>Entire Application</web-resource-name> -->
<!--       <url-pattern>/pages/*</url-pattern> -->
<!--     </web-resource-collection> -->
<!--     <auth-constraint> -->
<!--       <role-name>*</role-name> -->
<!--     </auth-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--     <auth-method>FORM</auth-method> -->
<!--     <realm-name>portalSecurityDomain</realm-name> -->
<!--     <form-login-config> -->
<!--       <form-login-page>/login.jsf</form-login-page> -->
<!--       <form-error-page>/login.jsf</form-error-page> -->
<!--     </form-login-config> -->
<!--   </login-config> -->
<!--   <security-role> -->
<!--     <role-name>*</role-name> -->
<!--   </security-role> -->
  <error-page>
    <error-code>401</error-code>
    <location>/access_denied.jsf</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/access_denied.jsf</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/page_not_found.jsf</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsf</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsf</location>
  </error-page>
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/login.jsf</location>
  </error-page>
  <mime-mapping>
    <extension>ecss</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/font-ttf</mime-type>
  </mime-mapping>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
</web-app>