/*.content { width: 92%; }*/
#topo{
	background:url("../img/fundo_header.jpg") top repeat-x;
	height:60px;
}
#topo a img{ max-width:297px; }
#topo a{ padding-top:2px; height:50px; }


/* Sizes for 480 redone */

.content h2 { font-size: 19px; }
.content h3 { font-size: 17px; }
.content h4 { font-size: 17px; }
.content h5 { font-size: 17px; }
.content a  { font-size: 12px; }
.content p  { font-size: 14px; }
.content li,
.content input,
.content textarea,
.content select,
.content label { font-size: 14px; }
.content table { font-size: 14px; }

