/* Sizes for 480 */

/*.content h2 { font-size: 15px; }
.content h3 { font-size: 13px; }
.content h4 { font-size: 13px; }
.content h5 { font-size: 13px; }
.content a  { font-size: 8px; }
.content p  { font-size: 10px; }*/
.content li,
.content input,
.content textarea,
.content select,
/*.content label { font-size: 10px; }*/
/*.content table{ font-size: 10px !important; }*/
